<app-navigation-bar></app-navigation-bar>
<h1>Registracija</h1>

<div class="columns is-tablet">
    <div class="column is-one-quarter "></div>
    <div class="column custom-color">
      <div class="field">
        <label class="label">Prisijungimo vardas</label>
        <div class="control ">
          <input class="input " type="text" placeholder="Prisijungimo vardas" #userEmail>
          <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Elektroninis paštas</label>
        <div class="control ">
          <input class="input " type="email" placeholder="Elektroninis paštas">
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Slaptažodis</label>
        <div class="control ">
          <input class="input " type="password" placeholder="Slaptažodis" #userPwd>
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Pakartokite slaptažodį</label>
        <div class="control ">
          <input class="input " type="password" placeholder="Pakartokite slaptažodį">
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
      
      <div class="field">
        <label class="label">Lytis</label>
        <div class="control">
          <label class="radio">
          <input type="radio" name="answer">
          Vyras
          </label>
          <label class="radio">
          <input type="radio" name="answer">
          Moteris
          </label>
        </div>
      </div>
      <div class="field pt-3">
        <div class="control">
          <label class="checkbox">
          <input type="checkbox">
          Pažymėdami Jūs sutikate su <a href="#">taisyklėmis</a>
          </label>
        </div>
      </div>
      <div class="field is-grouped pt-5">
        <div class="control">
          <button class="button is-link" (click)="authService.SignUp(userEmail.value, userPwd.value)" >Registruotis</button>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter"></div>
  </div>
  
<app-footer></app-footer>