<app-navbar></app-navbar>
<h1>Receptai, kurie jus galbūt sudomins</h1>

  <div class="columns is-multiline is-centered is-flex">
    
    <ng-container *ngFor="let recipe_item of data">
      <div class=" column is-12-mobile is-6-tablet is-3-desktop is-2-fullhd is-2-widescreen "onclick="openTab('b1');" style="background:white;" >
        <app-recipe-tile [data]="recipe_item" [toggle]="recipe_item.favourite"></app-recipe-tile>
      </div>
    </ng-container>
  </div>
  
   
    

  
<app-footer></app-footer>