<app-navigation-bar></app-navigation-bar>
<h1>Receptai, kurie jus galbūt sudomins</h1>
<div class="container">
    <div
      class="row justify-content-around align-items-center"
      Style="height: 80vh; width:100%"
    >
      <div class="col-lg-3 col-md-6 col-sm-12 border">
        
      </div>
    </div>
  </div>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile >First Grid</mat-grid-tile>
    <mat-grid-tile >Second Grid</mat-grid-tile>
    <mat-grid-tile >Third Grid</mat-grid-tile>
    <mat-grid-tile >Fourth Grid</mat-grid-tile>
    <mat-grid-tile >Fifth Grid</mat-grid-tile>
    <mat-grid-tile >Sixth Frid</mat-grid-tile>
    <mat-grid-tile >First Grid</mat-grid-tile>
    <mat-grid-tile >Second Grid</mat-grid-tile>
    <mat-grid-tile >Third Grid</mat-grid-tile>
    <mat-grid-tile >Fourth Grid</mat-grid-tile>
    <mat-grid-tile >Fifth Grid</mat-grid-tile>
    <mat-grid-tile >Sixth Frid</mat-grid-tile>
    
  </mat-grid-list>
  
  


<p>home works!</p>
<app-footer></app-footer>
