.heart-like-button {
    position: relative;
    width: 40px;
    height: 32px;
  }
  
  .heart-like-button:before {
    position: absolute;
    top: 10px;
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 20px;
    height: 31px;
    border-radius: 10px 10px 0 0;
    background-color: #e8a9a9;
    content: "";
    cursor: pointer;
    transition: background .4s;
  }
  .heart-like-button:after {
    position: absolute;
    top: 10px;
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
    width: 20px;
    height: 31px;
    border-radius: 10px 10px 0 0;
    background-color: #e8a9a9;
    content: "";
    cursor: pointer;
    transition: background .4s;
  }
  .heart {
    position: relative;
    width: 40px;
    height: 32px;
  }

  .heart:before {
    position: absolute;
    top:10px;
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 20px;
    height: 31px;
    border-radius: 10px 10px 0 0;
    background-color: #ba2020;
    content: "";
    cursor: pointer;
    transition: background .4s;
  }
  .heart:after {
    position: absolute;
    top: 10px;
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
    width: 20px;
    height: 31px;
    border-radius: 10px 10px 0 0;
    background-color: #ba2020;
    content: "";
    cursor: pointer;
    transition: background .4s;
  }
  .content{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100px;
  }
  .media{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
  }