<nav class="navbar is-success" role="navigation" aria-label="main navigation" >
    <div class="navbar-brand">
      
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="'/main'">
          Home
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" [routerLink]="'/recipes-list'">
              Receptai
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                Apkepai
              </a>
              <a class="navbar-item">
                Blynai
              </a>
              <a class="navbar-item">
                Desertai
              </a>
              <a class="navbar-item">
                Gėrimai
              </a>
              <a class="navbar-item">
                Karšti patiekalai
              </a>
              <a class="navbar-item">
                Uogienės
              </a>
              <a class="navbar-item">
                Konservuoti patiekalai
              </a>
              <a class="navbar-item">
                Košės
              </a>
              <a class="navbar-item">
                Košės
              </a>
              <a class="navbar-item">
                Kremai, padažai
              </a>
              <a class="navbar-item">
                Košės
              </a>
              <a class="navbar-item">
                Picos
              </a>
              <a class="navbar-item">
                Pyragai, kepiniai
              </a>
              <a class="navbar-item">
                Salotos, mišrainės
              </a>
              <a class="navbar-item">
                Sriubos
              </a>
              <a class="navbar-item">
                Sumuštiniai
              </a>
              <a class="navbar-item">
                Trškiniai
              </a>
              <a class="navbar-item">
                Užkandžiai
              </a>
              <a class="navbar-item">
                Vegetariški
              </a>
            </div>
          </div>
        <a class="navbar-item" [routerLink]="'/main'">
            Rasti receptą pagal igridientus
        </a>
        
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" [routerLink]="'/register'">
              <strong>Registruotis</strong>
            </a>
            <a class="button is-light" [routerLink]="'/login'">
            Prisijungti
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
